.modal-top {
  padding-top: 58px;
  padding-bottom: 158px;
}

.modal-logo {
  margin-top: 48px;
  margin-left: 23px;
}

.modal-nav {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
}

.modal-top .nav {
  display: flex;
  justify-content: space-between;
}

.box-logo .modal-title {
  margin-top: 10px;
}
